<!DOCTYPE html>
<html>
<head><title>Smart Agriculture Dashboard</title></head>
<body>
    <h2>Farm Sensor Data</h2>
    <table border="1">
        <tr>
            <th>Soil Moisture</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Rain</th>
            <th>Timestamp</th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{ d.soil_moisture }}</td>
            <td>{{ d.temperature }}</td>
            <td>{{ d.humidity }}</td>
            <td>{{ d.rain }}</td>
            <td>{{ d.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
